<div class="form-group" [formGroup]="group">
  <label>{{field.label}}</label>
  <select [formControlName]="field.name">
    <option value="" hidden>-Chọn tình trạng-</option>
    <option [value]="item" *ngFor="let item of field.options">{{item}}</option>
  </select>
</div>
